.benefits {
    display: block;
}

.benefits-list {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 30px;
    @include mobile {
        max-width: 450px;
    }
    
    @include tablet {
        max-width: 738px;
    }
    
    @include desktop {
        max-width: 1170px;
    }
}

.benefits-list-item {
    width: 100%;
    height: auto;
    @include tablet {
        @include calc(2, 30px);
    }
    @include desktop {
        @include calc(4, 30px);
    }
}

.benefits-list-item::before {
    display: block;
    content: '';
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--background-our-team);
    border-radius: 4px;
    margin-bottom: 30px;
}

.icon-antenna::before {
    background-image: url(../images/benefits/antenna.png);
    @include retina {
        background-image: url(../images/benefits/antenna-2x.png);
    }
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: center;
}

.icon-clock::before {
    background-image: url(../images/benefits/clock.png);
    @include retina {
        background-image: url(../images/benefits/clock-2x.png);
    }
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: center;
}

.icon-diagram::before {
    background-image: url(../images/benefits/diagram.png);
    @include retina {
        background-image: url(../images/benefits/diagram-2x.png);
    }
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: center;
}

.icon-astronaut::before {
    background-image: url(../images/benefits/astronaut.png);
    @include retina {
        background-image: url(../images/benefits/astronaut-2x.png);
    }
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: center;
}

.benefits-title {
    @include font(null, 700, 1.14, null);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    @include tablet {
        text-align: start;
    }
}

.benefits-after-title {
    @include font(null, null, calc(24/14), null);
    color: var(--secondary-text-color);
}