.hero {
    max-width: 1600px;
    height: 400px;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: var(--gradient),
        url(../images/hero/mob.jpg);
    @include retina {
        background-image: var(--gradient),
        url(../images/hero/mob-2x.jpg);
    }
    background-repeat: no-repeat;
    background-size: cover;
    @include tablet {
        background-image: var(--gradient),
        url(../images/hero/tab.jpg);
        @include retina {
            background-image: var(--gradient),
                url(../images/hero/tab-2x.jpg);
        }
    }
    @include desktop {
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: var(--gradient),
        url(../images/hero/desk.jpg);
        @include retina {
            background-image: var(--gradient),
                url(../images/hero/desk-2x.jpg);
        }
    }
}

.hero-container {
    margin: 0 auto;
    text-align: center;
}

.hero-title {
    @include font(26px, 900, 1.62, 0.06em);
    text-transform: uppercase;
    color: var(--white-color);
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;
    @include desktop {
        @include font(44px, 900, 1.36, 0.06em);
        max-width: 696px;
    }
}

.hero-btn {
    @include font(16px, 700, 1.88, 0.06em);
    align-items: center;
    text-align: center;
    color: var(--white-color);
    background-color: var(--accent-color);
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 152px;
    transition: background-color var(--transition);
    &:hover {
        background-color: var(--hero-button-hover);
    }
}