.work {
    display: none;
    @include desktop {
        display: block;
        padding-bottom: 94px;
    }
}

.work__container {
    text-align: center;
    
}

.work__title {
    @include font(36px, 700, calc(42/36), null);
    margin-bottom: 50px;
}

.process {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
    margin: 0 auto;
}

.process__item {
    position: relative;
}

.process__about {
    @include font(null, 700, calc(16/14), 0.03em);
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}