.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition), visibility var(--transition);
}

.modal {
    width: calc(100% - 30px);
    background-color: var(--white-color);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--transition);
    @include mobile {
        width: 405px;
        min-height: 609px;
        padding: 40px;
    }
    @include desktop {
        width: 528px;
        min-height: 581px;
    }
}

.backdrop.is-hidden .modal {
    transform: translate(-50%) scale(0);
}

.modal-close {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill var(--transition);
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    @include font(17px, 700, calc(23/20), 0.03em);
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 12px;
    @include mobile {
        @include font(20px, 700, calc(23/20), 0.03em);
    }
}

.modal-field {
    margin-bottom: 10px;
}

.modal-field-comment {
    margin-bottom: 20px;
}

.input-label {
    @include font(12px, null, calc(14/12), 0.01em);
    margin-bottom: 4px;
    color: var(--secondary-text-color);
    display: block;
}

.input-wrap {
    position: relative;
}

.modal-input {
    @include font(12px, null, calc(14/12), 0.01em);
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 12px;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: var(--black-color);
    transition: border-color var(--transition);
    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}

.modal-input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: fill var(--transition);
    .modal-input:hover+&,
    .modal-input:focus+& {
        fill: var(--accent-color);
    }
}

.input-comment {
    padding: 12px 16px;
    resize: none;
    width: 100%;
    height: 120px;
    &::placeholder {
        @include font(12px, null, calc(14/12), 0.01em);
        color: rgba(117, 117, 117, 0.5);
    }
}

.check-text {
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--secondary-text-color);
    @include font(9px, null, 1.7, 0.01em);
    @include mobile {
        width: 346px;
        margin-left: -10px;
        @include font(11px, null, 1.7, 0.03em);
    } 
    @include desktop {
        width: 100%;
        @include font(14px, null, 1.71, 0.03em);
    }
}

.check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    fill: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: fill var(--transition),
        background-color var(--transition),
        border var(--transition),
        border-color var(--transition);
    margin-right: 8px;
    .input-check:checked+& {
        fill: var(--white-color);
        background-color: var(--accent-color);
        border: none;
    }
    .input-check:focus+&,
    .input-check:hover+& {
        border-color: var(--accent-color);
    }
}

.check-link {
    text-decoration-line: underline;
    color: var(--accent-color);
    margin-left: 5px;
}

.modal-btn {
    @include font(14px, 700, 1.88, 0.06em);
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    padding: 10px 52px;
    background-color: var(--accent-color);
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    margin-top: 30px;
    transition: box-shadow var(--transition),
        background-color var(--transition);
    &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        background-color: var(--hero-button-hover);
    }
    @include mobile {
        @include font(16px, 700, 1.88, 0.06em);
    }
}