.catalog-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.catalog-list-btn {
    font-family: inherit;
    @include font(16px, 500, 1.62, 0.03em);
    text-align: center;
    background-color: var(--background-our-team);
    border-radius: 4px;
    border: none;
    padding: 6px 25px;
    transition: color var(--transition), 
    background-color var(--transition), 
    box-shadow var(--transition);
    &:hover,
    &:focus {
        color: var(--white-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.catalog-project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
    max-width: 450px;
}

.project-about {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.project-list-item {
    width: 100%;
}

.project-link {
    width: 100%;
    display: block;
    text-decoration: none;
    transition: box-shadow var(--transition);
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.project-title {
    @include font(18px, 700, 2, 0.06em);
    margin-bottom: 4px;
    color: var(--primary-text-color);
}

.project-after-title {
    @include font(16px, 400, 1.88, null);
    color: var(--secondary-text-color);
}

.project-link:hover .project-top-text,
.project-link:focus .project-top-text {
    transform: translateY(0);
}

.project-top-wrap {
    position: relative;
    overflow: hidden;
}

.project-top-text {
    position: absolute;
    top: 0;
    padding: 63px 24px;
    @include font(18px, 400, 1.56, 0.03em);
    color: var(--white-color);
    background-color: rgba(33, 150, 243, 0.9);
    height: 100%;
    transform: translateY(100%);
    transition: transform var(--transition);
    overflow: auto;
}