.header {
    padding-top: 24px;
    padding-bottom: 25px;
    margin: 0 auto;
    width: 100%;
    @include mobile {
        width: 450px;
    }
    
    @include tablet {
        width: 738px;
    }
    
    @include desktop {
        width: 1170px;
    }
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo-web {
    margin-right: 93px;
}

.header-nav {
    margin-right: auto;
    display: none;
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-list-item {}

.header-link {
    @include font(null, 500, 1.14, 0.02em);
    color: var(--primary-text-color);
    transition: var(--transition);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.nav-active {
    color: var(--accent-color);
    position: relative;
}

.nav-active::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    top: 47px;
    right: 0;
    cursor: default;
}

.header-contacts-list {
    // display: flex;
    display: none;
    gap: 50px;
}

.contacts-list-item {}

.contacts-icons {
    fill: currentColor;
    margin-right: 10px;
}

.contacts-link {
    @include font(null, 500, 1.14, 0.02em);
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    transition: var(--transition);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.header-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    display: block;
    margin-left: auto;
    fill: var(--black-color);
    transition: fill var(--transition);
    &:hover, &:focus {
        fill: var(--accent-color);
    }
}

.header-menu-open {}