.header {
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile {
        width: 450px;
    }
    @include tablet {
        width: 738px;
        padding-top: 26px;
        padding-bottom: 26px;
        width: 738px;
    }
    @include desktop {
        width: 1170px;
        padding-top: 24px;
        padding-bottom: 25px;
        justify-content: center;
        margin: 0 auto;
    }
}

.logo-web {
    margin-right: 88px;
    @include desktop {
        margin-right: 93px;
    }
}

.header-nav {
    margin-right: auto;
    display: none;
    @include tablet {
        display: flex;
    }
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-list-item {}

.header-link {
    @include font(null, 500, 1.14, 0.02em);
    color: var(--primary-text-color);
    transition: var(--transition);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.nav-active {
    color: var(--accent-color);
    position: relative;
}

.nav-active::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    top: 52px;
    right: 0;
    cursor: default;
    @include desktop {
        top: 46px;
    }
}

.header-contacts-list {
    display: none;
    @include tablet {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 138px;
    }
    @include desktop {
        flex-direction: row;
        display: flex;
        margin-left: auto;
        gap: 40px;
        min-width: 343px;
        justify-content: center;
        align-items: center;
    }
}

.contacts-list-item {}

.contacts-icons {
    fill: currentColor;
    margin-right: 10px;
}

.contacts-link {
    @include font(null, 500, 1.14, 0.02em);
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    transition: var(--transition);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
    @include tablet {
        @include font(12px, 500, calc(14/12), 0.02em);
    }
    @include desktop {
        @include font(14px, 500, 1.14, 0.02em);
    }
}

.header-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    display: block;
    margin-left: auto;
    fill: var(--black-color);
    transition: fill var(--transition);
    &:hover, &:focus {
        fill: var(--accent-color);
    }
    @include tablet {
        display: none;
    }
}
