.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo-web {
    margin-right: 93px;
}

.header-nav {
    margin-right: auto;
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-list-item {}

.header-link {
    @include font(null, 500, 1.14, 0.02em);
    color: var(--primary-text-color);
    transition: var(--transition);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.nav-active {
    color: var(--accent-color);
    position: relative;
}

.nav-active::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    top: 47px;
    right: 0;
    cursor: default;
}

.header-contacts-list {
    display: flex;
    gap: 50px;
}

.contacts-list-item {}

.contacts-icons {
    fill: currentColor;
    margin-right: 10px;
}

.contacts-link {
    @include font(null, 500, 1.14, 0.02em);
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    transition: var(--transition);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}